@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h2 > Who is me </h2>
<p >
    Hi there! <br /> My name is Qassem Aburas and I'm 21 years old.
    I'm studing system Developing and Web Designing, <br />it's very intressting thing to learn.
    I studied some programming language like C# , HTML and CSS, and JavaScript.
    <br /> Like I said I still studing therefore I have no experince becuse I didn't work yet.
</p>
