@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<div class="projects">

    <h2> My SS Projects</h2>
    <a href="~/MyProjects/bootstrap/index.html">My company</a> <br />
    <a href="~/MyProjects/Html1/Index.html">Who am I!</a> <br />
    <a href="~/MyProjects/Sokoban-master/index.html">Sokoban Game</a> <br />
</div>