
@{
    ViewData["Title"] = "Index";
}

<h1>The Guessing Game</h1>
<h4>Try to figure out the right number!</h4>


<h2>@TempData["message"]</h2>
<form method="post">
    <input type="text" name="guess" />
    <button type="submit">Guess</button>
</form>

